# cargo-release configuration
# https://github.com/crate-ci/cargo-release

[workspace]
allow-branch = ["main", "master"]
sign-commit = false
sign-tag = false

# Pre-release checks
pre-release-commit-message = "chore: release {{version}}"
tag-message = "{{crate_name}} v{{version}}"
tag-name = "v{{version}}"

# What to do
publish = true
push = true
tag = true

# Pre-release replacements
[[pre-release-replacements]]
file = "CHANGELOG.md"
search = "## \\[Unreleased\\]"
replace = """## [Unreleased]

## [{{version}}] - {{date}}"""

[[pre-release-replacements]]
file = "installer/spath-installer.nsi"
search = '!define VERSION "[^"]*"'
replace = '!define VERSION "{{version}}"'

[[pre-release-replacements]]
file = "installer/spath-installer.nsi"
search = 'VIProductVersion "[^"]*"'
replace = 'VIProductVersion "{{version}}.0"'
